<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"	th:with="title = ${'Lista de Pacientes'}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${titulo}"></title>
<link href="https://fonts.googleapis.com/css?family=Dosis"	rel="stylesheet">
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/estilos.css"  th:href="@{/estilos.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="/fragmentos.html :: menulateral"></div>
	<div th:replace="/fragmentos.html :: cabecera(titulo=${title})"></div>
	<div class="principal">

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">DNI</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Fecha de nacimiento</th>
					<th scope="col">Diagnóstico</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="paciente : ${pacientes}">
					<td th:text="${paciente.nombre}"></td>
					<td th:text="${paciente.dni}"></td>
					<td th:text="${paciente.telefono}"></td>
					<td th:text="${paciente.fecha_nacimiento}"></td>
					<td th:text="${paciente.diagnostico}"></td>
					<td><a class="btn btn-outline-primary"
						th:href="@{/pacientes/detalle/{id}(id=${paciente.idpaciente})}">Detalle</a>
						<a class="btn btn-outline-primary"
						th:href="@{/pacientes/actualizar/{id}(id=${paciente.idpaciente})}">Actualizar
							datos</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>