<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"	th:with="title = ${'Nueva cita'}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${titulo}"></title>
<link href="https://fonts.googleapis.com/css?family=Dosis"	rel="stylesheet">
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/estilos.css" th:href="@{/estilos.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="/fragmentos.html :: menulateral"></div>
	<div th:replace="/fragmentos.html :: cabecera(titulo=${title})"></div>
	<div class="principal table">
		<form class="form-horizontal" action="#" method="post"
			th:action="@{/citas/submit}" th:object="${cita}">
			<fieldset>
				<!-- Form Name -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="fecha">Fecha</label>
					<div class="col-md-4">
						<input id="fecha" name="fecha" type="date" placeholder="Fecha"
							class="form-control input-md" th:field="*{fecha}">
					</div>
				</div>
				<!-- Select Basic -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="selectbasic">Paciente</label>
					<div class="col-md-4">
						<select id="selectpaciente" name="selectpaciente"
							class="form-control" aria-label="Default select example"
							th:field="*{paciente}">
							<option th:each="paciente : ${pacientes}" th:text="${paciente}"
								th:value="${paciente.idpaciente}"></option>
						</select>
					</div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="selectbasic">Especialidad</label>
					<div class="col-md-4">
						<select id="selectespecialidad" name="selectespecialidad"
							class="form-control" aria-label="Default select example"
							th:field="*{especialidad}">
							<option th:each="especialidad : ${especialidades}"
								th:text="${especialidad}"
								th:value="${especialidad.idespecialidad}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<input class="btn btn-primary" type="submit" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>