<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"	th:with="title = ${'Lista de Productos'}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${titulo}"></title>
<link href="https://fonts.googleapis.com/css?family=Dosis"	rel="stylesheet">
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/estilos.css" th:href="@{/estilos.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="/fragmentos.html :: menulateral"></div>
	<div th:replace="/fragmentos.html :: cabecera(titulo=${title})"></div>
	<div class="principal">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Descripción</th>
					<th scope="col">Precio</th>
					<th scope="col">Proveedor</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto : ${productos}">
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.descripcion}"></td>
					<td th:text="${producto.precio}"></td>
					<td th:text="${producto.proveedor.nombre}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>